

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse Core
.project


# JDT-specific (Eclipse Java Development Tools)
.classpath

# sbteclipse plugin
.target

.springBeans
/target/
*/target/*
*/target/**
